bert_score>=0.3.13
evaluate @ git+https://github.com/huggingface/evaluate@7d7d81dd3ffec0812e2edb09f86b3b1e31d61118
sacremoses>=0.0.53
absl-py
nltk
rouge_score>=0.1.2
# below install tensorflow and downgrades numpy, so heavy dependency
git+https://github.com/google-research/bleurt.git
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
