out/
7B/
13B/
__pycache__/
checkpoint**
minimal-llama**
upload.py
lora-**
*ckpt
wandb
evaluate.py
test_data.json
todo.txt
.neptune/
*.bin
db_dir_UserData
temp_path_do_doc1
offline_folder
flagged_data_points
.pytest_cache
user_path
user_path_test
build
h2ogpt.egg-info
dist
.idea
.cache
.local
.bash_history
.benchmarks
Dockerfile-runner.dockerfile

# IDEs
.idea/

# virtual envs
venv
