datasets
loralib
sentencepiece
git+https://github.com/huggingface/transformers.git
accelerate
# bitsandbytes
git+https://github.com/huggingface/peft.git
gradio
appdirs
fire
pytest
pytest-xdist
nltk
neptune
docutils
pandoc
pypandoc
torch
tensorboard
