datasets==2.10.1
loralib==0.1.1
sentencepiece==0.1.97
git+https://github.com/huggingface/transformers.git@ee8e80a060d65ab349743ffcb5842365eb0e5606
accelerate==0.18.0
bitsandbytes==0.37.2
git+https://github.com/huggingface/peft.git@098962fa6515f2e4fe83a757f5995d3ffbb1c373
gradio==3.23.0
gradio_client==0.0.8
appdirs==1.4.4
fire==0.5.0
pytest==7.2.2
pytest-xdist==3.2.1
nltk==3.8.1
neptune==1.1.1
docutils==0.19
pandoc==2.3
pypandoc==1.11
torch==2.0.0
tensorboard==2.12.0
evaluate==0.4.0
rouge_score==0.1.2
sacrebleu==2.3.1
scikit-learn==1.2.2
lm_dataformat==0.0.20
openpyxl==3.1.2
bioc==2.0
