# optional for chat with PDF
langchain==0.0.150
pypdf==3.8.1
tiktoken==0.3.3
# avoid textract, requires old six
#textract==1.6.5
# choose:
#faiss-cpu
faiss-gpu==1.7.2

# for HF embeddings
sentence_transformers==2.2.2
# for OpenAI embeddings (requires key)
openai==0.27.6

# local vector db
chromadb==0.3.22
# server vector db
#pymilvus==2.2.8

# urls
# FIXME: below uses old pandas/numpy:
#unstructured==0.6.4
#pdf2image==1.16.3
#pytesseract==0.3.10

# to check licenses
# Run: pip-licenses|grep -v 'BSD\|Apache\|MIT'
pip-licenses==4.3.0
