# https://raw.githubusercontent.com/THUDM/CogVLM2/main/basic_demo/requirements.txt
xformers
torch>=2.0.0
torchvision
transformers>=4.40
huggingface-hub>=0.23.0
pillow
chainlit>=1.0
pydantic>=2.7.1
timm>=0.9.16
openai>=1.30.1
loguru>=0.7.2
pydantic>=2.7.1
einops
sse-starlette>=2.1.0
bitsandbytes>=0.43.1 # for int4 quantization
